.content-home {
    height: 100vh;
    display: flex;
    align-items: center;
}


.css-1ri6ub7-MuiPaper-root-MuiCard-root.button-card {
    display: block;
    margin: auto;
    background-color: #202c33;
}

.button-card a {
    text-decoration: none;
    color: #d1d7db;
}


/**/
.MuiButtonBase-root.btn-base {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    border-radius: 0px;
    padding: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    color: inherit;
    position: relative;
    height: 200px;
    width: 80%;
    left: 10%;
    -webkit-box-shadow: 0px 0px 20px 3px #000000;
    box-shadow: 0px 0px 20px 3px #000000;
}

.MuiButtonBase-root.btn-base:hover {
    z-index: 1;
}

.MuiButtonBase-root:hover .back-img2 {
    opacity: 0.15;
}

.MuiButtonBase-root:hover .marked {
    opacity: 0;
}

.MuiButtonBase-root:hover .content-title {
    border: 4px solid currentcolor;
}

.MuiButtonBase-root:hover .title {
    opacity: 0;
}


.image-backdrop {

    position: absolute;
    inset: 0px;
    background-size: cover;
    background-position: center 40%;
}

.image-backdrop.image_login {
    background-image: url("../../../public/assets/images/home/login.jpg");
}

.image-backdrop.image_dashboard {
    background-image: url("../../../public/assets/images/home/stadistics.jpg");
}

.image-backdrop.image_marvel {
    background-image: url("../../../public/assets/images/home/marvel.jpg");
}


.back-img2 {
    position: absolute;
    inset: 0px;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.content-title {
    position: absolute;
    inset: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: rgb(255, 255, 255);
}

.title {
    margin: 0px;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.75;
    letter-spacing: 0.00938em;
    color: inherit;
    position: relative;
    padding: 16px 32px calc(14px);
    background-color: #080913d3;
}

.marked {
    height: 3px;
    width: 18px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: -2px;
    left: calc(50% - 9px);
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

}